<mat-table #table [dataSource]="dataSource">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
    <mat-cell *matCellDef="let job"> {{job.id}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef>EMAIL</mat-header-cell>
    <mat-cell *matCellDef="let job"> {{job.title}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef>DESCRIPTION</mat-header-cell>
    <mat-cell *matCellDef="let job"> {{job.description}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="experience">
    <mat-header-cell *matHeaderCellDef>EXPERIENCE</mat-header-cell>
    <mat-cell *matCellDef="let job"> {{job.experience}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="no_of_vacancies">
    <mat-header-cell *matHeaderCellDef>VACANCIES</mat-header-cell>
    <mat-cell *matCellDef="let job"> {{job.no_of_vacancies}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="skills">
    <mat-header-cell *matHeaderCellDef>SKILLS</mat-header-cell>
    <mat-cell *matCellDef="let job">
        {{job.skills}}
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

