<mat-card *ngIf="interviewRound && !(isToggled() | async)" [style.text-align]="'center'" [style.margin-top]="'10px'" class="center_div">
  <!-- <mat-card-header>
    <mat-card-title><span [style.text-align]="'center'">Test Information</span></mat-card-title>
  </mat-card-header> -->
  <mat-card-content>
    <p class="text-primary">Basic Test Information</p>
    <p>There are <span class="text-primary bg-danger">{{interviewRound.interview_questions.length}}</span> questions in this section.</p>
    <p>The time alloted to complete this section is <span class="text-primary bg-danger">{{interviewRound.duration}}</span> minutes</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="takeTest()" class="bg" >Take Test</button>
  </mat-card-actions>
</mat-card>

<div *ngIf="interviewRound?.interview_questions.length > 0 && (isToggled() | async)">
  <button mat-raised-button class="clock">{{hoursDisplay ? hoursDisplay : '00'}} : {{(minutesDisplay) && (minutesDisplay <= 59) ? minutesDisplay : '00'}} : {{(secondsDisplay) && (secondsDisplay <= 59) ? secondsDisplay : '00'}}
  </button>
</div>

<div *ngIf="(isToggled() | async)" >
  <div *ngFor="let interviewQuestion of interviewRound.interview_questions;let i = index">
    <mat-card *ngIf="i === getIndex()">
    <!-- <mat-card-header>
      <mat-card-title>
        <p [ngSwitch]="question?.type" class="bg">
          <span *ngSwitchCase="'yes_no'">
          YES/NO
          </span>
          <span *ngSwitchCase="'objective'">
          OBJECTIVE
          </span>
          <span *ngSwitchCase="'descriptive'">
          DESRIPTIVE
          </span>
          <span *ngSwitchDefault>
          Error
          </span>Type Question
        </p>
      </mat-card-title>
    </mat-card-header> -->
    <mat-card-content>
      <span *ngFor="let i of indexes">
        <ng-container *ngIf="interviewRound?.interview_questions[i].answer === ''; then thenTemplate; else elseTemplate"></ng-container>
        <ng-template #thenTemplate>
          <button mat-mini-fab (click)="goto(i)" color="warn">{{i+1}}</button>
        </ng-template>
        <ng-template #elseTemplate>
          <button mat-mini-fab (click)="goto(i)" color="primary">{{i+1}}</button>
        </ng-template>
      </span>
      <p>{{i+1}}.{{interviewQuestion?.question.content}}</p>
        <p [ngSwitch]="interviewQuestion?.question.question_type" [style.margin-top]="'25px'">
        <span *ngSwitchCase="'yes_no'">
          <mat-radio-group>
            <mat-radio-button [value]="true" [checked]="interviewQuestion.answer === 'true'" (click)="setAnswer('true')">True</mat-radio-button>
            <mat-radio-button [value]="false" [checked]="interviewQuestion.answer === 'false'" (click)="setAnswer('false')" [style.margin-left]="'10px'">False</mat-radio-button>
          </mat-radio-group>
        </span>
        <span *ngSwitchCase="'objective'">
          <div *ngFor="let option of interviewQuestion?.question.options" [style.margin-top]="'10px'">
            <mat-radio-button [value]="option" [checked]="option === interviewQuestion?.answer" (click)="setAnswer(option)">{{option}}</mat-radio-button>
          </div>
        </span>
        <span *ngSwitchCase="'descriptive'">
          <mat-form-field [floatLabel]="'never'" [style.width.%]="100" >
            <textarea matInput placeholder="Enter your Answer Here !" matTextareaAutosize matAutosizeMinRows="10" matAutosizeMaxRows="500" [(ngModel)]="interviewQuestion.answer" (ngModelChange)="setAnswer('')" ></textarea>
          </mat-form-field>
        </span>
        <span *ngSwitchDefault>
        Error
        </span>
        </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button *ngIf="getIndex() > 0" (click)="goto(getIndex()-1)">previous</button>
      <button mat-button *ngIf="getIndex() < interviewRound.interview_questions.length-1" (click)="next(getIndex())">next</button>
      <button mat-button *ngIf="getIndex() === interviewRound.interview_questions.length-1" (click)="openDialog()" >Submit</button>
    </mat-card-actions>
  </mat-card>
  </div>
</div>
