.center_div{
  width:50%;
  height:50%;
  position:absolute;
  left:30%;
  top:30%;
  margin:-100px 0 0 -150px;
}

.bg{
  background-color: #673ab7;
  color:white;
}

.bg-green{
  background-color: #339933;
  color:white;
}
