<mat-input-container floatPlaceholder="never">
  <input matInput #filter placeholder="Filter Rounds">
</mat-input-container>
<mat-table #table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="level">
    <mat-header-cell *matHeaderCellDef mat-sort-header>ROUND NAME</mat-header-cell>
    <mat-cell *matCellDef="let item">
        <a [routerLink]="['/questions',interviewId,item.id]" *ngIf="item.status === 'Yet to start';else elseBlock" >{{item.interview_level.name}}</a>
        <ng-template #elseBlock>{{item.interview_level.name}} {{item.status}} </ng-template>
    </mat-cell>
  </ng-container>
  <!-- <ng-container matColumnDef="scheduled_time">
    <mat-header-cell *matHeaderCellDef mat-sort-header>SCHEDULED TIME</mat-header-cell>
    <mat-cell *matCellDef="let item"> {{item.scheduled_time | date}} </mat-cell>
  </ng-container> -->
  <ng-container matColumnDef="status" >
    <mat-header-cell *matHeaderCellDef mat-sort-header>STATUS</mat-header-cell>
    <mat-cell *matCellDef="let item">
      <p [ngSwitch]="item.status" [style.color]="'white'">
          <span *ngSwitchCase="'Yet to start'" [style.background-color]="'black'">
            {{item.status}}
          </span>
        <span *ngSwitchCase="'Selected'" [style.background-color]="'green'">
          {{item.status}}
        </span>
        <span *ngSwitchCase="'Rejected'" [style.background-color]="'red'">
          {{item.status}}
        </span>
        <span *ngSwitchCase="'Cancelled'" [style.background-color]="'blue'">
          {{item.status}}
        </span>
        <span *ngSwitchCase="'Not attended'" [style.background-color]="'grey'">
          {{item.status}}
        </span>
        <span *ngSwitchCase="'On Hold'" [style.background-color]="'brown'">
          {{item.status}}
        </span>
        <span *ngSwitchDefault [style.background-color]="'red'">
          {{item.status}}
        </span>
      </p>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<div [style.display]="dataSource?.filteredData.length == 0 ? '' : 'none'">
   No users found matching filter. use the <strong>ROUND NAME</strong> to search.
</div>
